<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/views/style.css" rel="stylesheet" type="text/css" />
    <title>Reset password</title>
</head>
<body>
    <div class="form-main">
        <img src="/views/logo.png" alt="cycle-fix"class="logo"/>
        <h1 class="header">Reset password</h1>
        <form action="" method="post" class="form-container">
            <p class="email">Enter a new password for <%= email%></p>
            <input type="password"
                   placeholder="New password"
                   class="input"
                   id="password"
                   name="password" />
            <input type="password"
                   placeholder="Confirm password"
                   class="input"
                   id="confirm-password"
                   name="confirmPassword"/>
            <input disabled="true" type="submit" value="Submit" class="input-btn" id="submit-btn"/>
        </form>
    </div>

    <script src="/views/script.js" defer></script>
</body>
</html>